<div class="header clearfix">
  <h1><a href="/">Snapost</a></h1>
  <input type="text" class="form-control search" placeholder="搜尋標籤">
  <a id="userInfo" href="#"  class="pull-right"></a>
  <div class="dashboard-menu btn-group">
      <a href="#"  class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-wrench fa-fw"></i>&nbsp;後台管理&nbsp;<span class="caret"></span>
      </a>
      <ul class="dropdown-menu pull-right" role="menu">
        <li>
            <a href="chart">
                <i class="fa fa-bar-chart fa-fw"></i>&nbsp;報表分析
            </a>
        </li>
        <li>
            <a href="ad">
                <i class="fa fa-bullhorn fa-fw"></i>&nbsp;廣告管理
            </a>
        </li>
      </ul>
  </div>
</div>
