@charset "utf-8";

/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

textarea {
    resize: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Basic Elements */

body {
    font: 14px/25px "微軟正黑體",Arial, Helvetica, sans-serif;
    color: #292929;
    background: #eee;
}

a {
    text-decoration: none;
}

a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: Lobster;
    padding: 0px 20px 0px 15px;
    color: white;
    font-weight: bold;
    font-size: 27px;
    margin: 10px auto;
    float: left;
}

h1 a {
    color: white;
}

h2 {
    display: inline-block;
    color: #0068B7;
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;
}

p {
    text-align: justify;
}

/* Basic Layout */

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.header {
    box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset;
    background-color: #0068B7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 0px 200px;
}

.search-bar {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #fff;
    margin: 10px auto;
}

.search-bar input[type="text"]:focus {
    box-shadow: none;
}

.search {
    display: inline-block;
    width: 300px;
    height: 29px;
    padding: 6px 36px 6px 12px;
}

.search-btn {
    position: absolute;
    border: none;
    background: transparent;
    top: 6px;
    right: 6px;
    color: #bbb;
}

.search-btn:hover {
    color: #292929;
}

.content {
    max-width: 602px;
    width: 100%;
    margin: 90px auto 40px auto;
}

.intro {
    margin: 60px auto 0px auto;
    text-align: center;
}

.intro h2 {
    color: #717171;
    display: block;
    margin-top: 0px;
    margin-bottom: 20px;
}

.intro img {
    display: block;
    margin: 10px auto;
}

.msg-form {
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 0 40px 0;
    overflow: hidden;
    background: #fff;
}

.hottag {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 0 20px 0;
    overflow: hidden;
    background: #fff;
}

#img_preview, #sp_preview {
    margin-bottom: 30px;
}

#adDetail li, #followList li, #list li {
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
}

#adDetail p, #followList p, #list p {
    padding: 10px 20px;
    word-break: break-all;
}

#list a:hover, a:visited, a:active, a:link {
    color: inherit;
}

.postImage {
    width: 100%;
}

#sponImg {
    margin-top: -3px;
    vertical-align: middle;
}

#adTitle {
    margin-top: 6px;
    width: 50%;
}

#adDetail .form-control {
    height: 28px;
    font-weight: normal;
    margin-bottom: 10px;
}

#adDetail textarea.form-control {
    height: auto;
}

#adTargetUrl {
    width: 50%;
}

#list td button {
    float: right;
    margin-left: 4px;
}

.breadcrumb {
    background-color: #ccc;
    border: 1px solid #aaa;
}

.breadcrumb>.active {
    color: #292929;
}

.table {
    margin-bottom: 0px;
}

.url {
    padding: 0px 20px 10px 20px;
}

.url span {
    float: left;
    margin-right: 8px;
    margin-top: 4px;
}

.url a {
    float: left;
}

.url a:hover {
    text-decoration: underline;
}

.info {
    overflow: hidden;
    padding: 14px 20px 0px 20px;
}

.info h2 {
    color: #23527c;
}

.info img {
    vertical-align: text-bottom;
}

.navi {
    margin-top: 5px;
}

.time {
    color: #bbb;
    font-style: italic;
    font-size: 13px;
}

.msg-input {
    padding: 0px 19px 14px 19px;
}

.postMenu {
    padding: 14px 21px 0px 21px;
}

.postMenu button {
    font-family: "微軟正黑體";
    font-weight: bold;
    border: 0px;
    background-color: transparent;
    font-size: 14px;
    padding: 0px;
    cursor: pointer;
    margin-right: 20px;
}

.delete-btn {
    border: 0px;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
    float: right;
    color: #777;
    margin: 4.5px auto;
}

.like, .comment-btn, .share {
    color: #777;
}

.fa-heart-click {
    color: #dc0000;
}

.like:hover, .comment-btn:hover, .share:hover, .delete-btn:hover {
    color: #292929;
}

.comment {
    padding: 10px 20px;
}

.comment a {
    color: #0068B7;
    font-weight: bold;
    margin-right: 5px;
}

#list .comment a:hover {
    color: #23527c;
}

#followList li .comment li, #list li .comment li {
    border: 0px;
    margin: 0px;
    border-bottom: 3px;
    word-break: break-all;
}

#file, #spfile {
    visibility: hidden;
    position: absolute;
}

.input-group {
    margin-bottom: 8px;
}

.form-control[disabled] {
    background-color: #fff;
    cursor: default;
}

#userInfo {
    display:block;
    padding:9.5px 20px;
    color:white;
    float: right;
}

#userInfo:hover {
    background-color:#035ca0;
}

/* Profile */

.profile {
    max-width: 800px;
    width: 100%;
    margin: 90px auto 40px auto;
}

.user-box {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 0 40px 0;
    background: #fff;
    padding: 30px 50px;
}

.user-box h2 {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    font-size: 25px;
}

#follow {
    float: right;
    display: none;
}

#result {
    margin-top: 25px;
    display: none;
}

#result li {
    margin-bottom: 6px;
    overflow: hidden;
}

#result li:last-child {
    margin-bottom: 0px;
}

#result a {
    color: #0068B7;
    float: left;
    margin-right: 10px;
}

#result a:hover {
    color: #23527c;
}

.user-profile {
    float: left;
    width: calc(100% - 232px);
}

.user-photo {
    max-width: 150px;
    margin-right: 50px;
    float: left;
}

.user-info {
    text-align: center;
}

.user-info li {
    padding: 0 30px;
    float: left;
    border-right: 1px solid #ddd;
}

.user-info li:first-child {
    border-left: 1px solid #ddd;
}

.user-info a {
    color: #0068B7;
}

.user-info a:hover {
    color: #23527c;
}

.user-info h3 {
    font-size: 20px;
    font-weight: bold;
}

#ninebox {
    overflow: hidden;
}

#ninebox li {
    margin: 0px 10px 10px 0px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    width: calc((100% - 20px)/3);
    float: left;
}

#ninebox li:nth-child(3n) {
    margin-right: 0px;
}

#list .tag {
    color: #0068B7;
    margin-right: 3px;
}

#list .tag:hover {
    color: #23527c;
}

/* Dashboard */
.dashboard {
    margin: 90px 40px 40px 40px;
    text-align: center;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.dashboard-menu {
    display:none;
    padding:12px 20px;
    color:white;
    float: right;
}

.dashboard-menu:hover, .dashboard-menu:active, .dashboard-menu:focus, .dashboard-menu:visited {
    background-color:#035ca0;
}

.dropdown-menu>li>a {
    padding: 10px 20px;
    line-height: inherit;
    color: #292929;
}

.hottag h3 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 8px;
}

.hottag i {
    color: yellow;
}

/* Clear Float */

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
  *zoom: 1; /* For IE 6&7 only */
}
