<script type="text/javascript" src="assets/js/ad.js"></script>
<div id="content" class="content">

    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-bullhorn fa-fw"></i>&nbsp;廣告管理
        </li>
    </ol>

	<div class="msg-form">
        <div class="input-group col-md-6">
            <span class="input-group-addon"><i class="fa fa-building fa-fw"></i></span>
            <input id="newAd_sponsorName" class="form-control " placeholder="贊助商名稱">
        </div>
        <div class="form-group">
            <input type="file" id="spfile" accept="image/*">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i></span>
                <input type="text" class="form-control" disabled placeholder="贊助商圖片">
                <span class="input-group-btn">
                <button class="btn btn-primary" id="sp_input" type="button"><i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp;瀏覽</button>
                </span>
            </div>
        </div>
        <div id="sp_preview"></div>

        <div class="input-group col-md-6">
            <span class="input-group-addon"><i class="fa fa-bullhorn fa-fw"></i></span>
            <input id="newAd_name" class="form-control " placeholder="廣告名稱">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-file-text-o fa-fw"></i></span>
            <textarea id="newAd_body" class="form-control" rows="3" placeholder="廣告文案"></textarea>
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-google fa-fw"></i></span>
            <input id="newAd_url" class="form-control " placeholder="目標網址">
        </div>
        <div class="form-group">
            <input type="file" id="file" accept="image/*">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i></span>
                <input type="text" class="form-control" disabled placeholder="廣告圖片">
                <span class="input-group-btn">
                <button class="btn btn-primary" id="img_input" type="button"><i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp;瀏覽</button>
                </span>
            </div>
        </div>
        <div id="img_preview"></div>

        <div class="pull-right">
            <button id="clearNewPost" type="button" class="btn btn-default">清除</button>
            <button id="writeNewPost" type="button" class="btn btn-primary">發佈</button>
        </div>
    </div>

    <div class="msg-form">
        <table class="table table-hover">
        	<thead>
                <tr>
                    <th>廣告名稱</th>
                    <th>贊助商</th>
                    <th>點擊總次數</th>
                    <th></th>
                </tr>
        	</thead>
        	<tbody id="list">

            </tbody>
        </table>
    </div>

    <ul id="adDetail" hidden>
        <li>
            <input type="hidden" id="ref" value="">
            <div class="info">
                <img id="sponImg" src="" class="img-circle" width="25px" height="25px">
                <h2 id="adTitle"></h2>
                <div id="edit" class="navi pull-right">

                </div>
            </div>
            <p id="adBody"></p>
            <div class="url clearfix">
                <span class="label label-default">URL</span>
                <a id="adTargetUrl" target="_blank"></a>
            </div>
            <img id="adImg" class="postImage" src=""/>
        </li>
    </ul>
</div>
