<script type="text/javascript" src="assets/js/ad.js"></script>
<div id="content" class="content">
	<div class="msg-form" ondragover="javascript: dragHandler(event);" ondrop="javascript: dropImage(event);">
        <div class="form-group">
            <input type="file" id="file" accept="image/*">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i></span>
                <input type="text" class="form-control" disabled placeholder="拖曳照片上傳或點選瀏覽">
                <span class="input-group-btn">
                <button class="btn btn-primary" id="img_input" type="button"><i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp;瀏覽</button>
                </span>
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
            <textarea id="newPost_body" class="form-control" rows="3" placeholder="留些什麼吧..."></textarea>
        </div>
        <div id="img_preview"></div>
        <div class="pull-right">
            <button id="clearNewPost" type="button" class="btn btn-default">清除</button>
            <button id="writeNewPost" type="button" class="btn btn-primary">發佈</button>
        </div>
    </div>
    <table>
    	<th>
    		<td>廣告名稱</td>
    		<td>點擊次數</td>
    		<td>贊助商</td>
    		<td></td>
    		<td></td>
    	</th>
    	<tbody id="list"></tbody>
    </table>
</div>