<script type="text/javascript" src="assets/js/ad.js"></script>
<div id="content" class="content">
	<div class="msg-form">
        <div class="input-group col-md-6">
            <span class="input-group-addon"><i class="fa fa-bullhorn fa-fw"></i></span>
            <input id="newAd_name" class="form-control " placeholder="廣告名稱">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-file-text-o fa-fw"></i></span>
            <textarea id="newAd_body" class="form-control" rows="3" placeholder="廣告文案"></textarea>
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-google fa-fw"></i></span>
            <input id="newAd_url" class="form-control " placeholder="目標網址">
        </div>
        <div class="form-group">
            <input type="file" id="file" accept="image/*">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i></span>
                <input type="text" class="form-control" disabled placeholder="廣告圖片">
                <span class="input-group-btn">
                <button class="btn btn-primary" id="img_input" type="button"><i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp;瀏覽</button>
                </span>
            </div>
        </div>


        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
            <textarea id="newAd_sponsorName" class="form-control" rows="1" placeholder="贊助商名稱"></textarea>
        </div>


        <div class="form-group">
            <input type="file" id="spfile" accept="image/*">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i></span>
                <input type="text" class="form-control" disabled placeholder="贊助商圖片">
                <span class="input-group-btn">
                <button class="btn btn-primary" id="sp_input" type="button"><i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp;瀏覽</button>
                </span>
            </div>
        </div>
        <div id="img_preview"></div>
        <div id="sp_preview"></div>
        <div class="pull-right">
            <button id="clearNewPost" type="button" class="btn btn-default">清除</button>
            <button id="writeNewPost" type="button" class="btn btn-primary">發佈</button>
        </div>
    </div>

    <table class="table table-hover">
    	<thead>
            <tr>
                <th>廣告名稱</th>
                <th>點擊總次數</th>
                <th>贊助商</th>
                <th></th>
            </tr>
    	</thead>
    	<tbody id="list">

        </tbody>
    </table>
    <div id="adDetail" class="content" hidden>
        <ui>
            <li>
                <input type="hidden" id="ref" value="">
                <div class="info">
                    <img id="sponImg" src="" class="img-circle" width="25px" height="25px">
                    <h2 id="adTitle"></h2>
                    <div id="edit" class="navi pull-right">
                        <button id="edit_b" class="btn btn-default" onclick="">
                        <i id="edit_i" class="fa fa-pencil" onclick="" title="edit"></i>
                        </button>
                    </div>
                </div>
                    <p id="adBody"></p>
                    <img id="adImg" class="postImage" src=""/>
                    <p>目標網站: <p id="adTargetUrl"></p></p>
            </li>
        </ui>
    </div>
</div>