<link href="assets/css/c3.min.css" rel="stylesheet" type="text/css">
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="assets/js/c3.min.js"></script>
<div id="chart"></div>
<script>
jQuery(document).ready(function ($) {

    function createLine(val){
        var chart = c3.generate({
            data: {
                json: { data1: val }
            }
        });
    }

    var date = new Date();
    var thisYear = date.getFullYear();
    var thisMonth = date.getMonth()+1;
    firebase.database().ref('statistic/'+thisYear+'-'+thisMonth+'postCount').once("value", function (snapshot){
        console.log(snapshot);
        console.log(snapshot.val());
        console.log(snapshot.val().postCount);
    });

});

</script>