<link href="assets/css/c3.min.css" rel="stylesheet" type="text/css">
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="assets/js/c3.min.js"></script>
<div id="totalpost"></div>
<div id="chart"></div>
<div id="post"></div>
<script>
jQuery(document).ready(function ($) {
var totalpost=0;
function creategauge(val){
    var chart = c3.generate({
        bindto: '#totalpost',
        data: {
            columns: [
                ['貼文總數',val]
            ],
            type: 'gauge',
        },
        gauge: {
            label:{
                format: function(value, ratio){
                    return value;
                    },
                },
            max: 500,
            units: 'post',
            width: 39
        },
        size: {
            height: 180
        }
    });
}




    function createLine(array){
        var total=0;
        var chart = c3.generate({
            data: {
                x : 'x',
                columns: [
                        
                ],
                type: 'bar'
            },bar: {
                width: {ratio: 0.2 }
            },axis: {
                x: {
                    type: 'category',
                    }
                }
        });
        for(var i=0;i<array.length;i++){
            total=total+array[i].postCount;
            chart.load({
                columns:[
                    [array[i].time.toString(),array[i].postCount],
                    ['x',"貼文數量"]
                ]
            });
        };

    }

    function createspline(array){
        var total=0;
        var arr=[];
        var arr1=[];
        var xarr=[];
        arr[0]="累計貼文數"
        arr1[0]="單月貼文數"
        xarr[0]="x"
        var chart = c3.generate({
            bindto: '#post',
             data: {
        x : 'x',         
        columns: [
           
        ],
        type: 'spline'
        },axis: {
                x: {
                    type: 'category',
                    }
                }
        });
        for(var i=0;i<array.length;i++){
            total=total+array[i].postCount;
            arr.push(total);
            arr1.push(array[i].postCount);
            xarr.push(array[i].time.toString());
        };
        chart.load({
            columns:[
                arr,
                arr1,
                xarr
            ],types:{單月貼文數:'bar'}
        });
    }

    firebase.database().ref('statistic').once("value", function (snapshot){
        var array = [];
        snapshot.forEach(function(data){
            var post = {
                    time: data.key,
                    postCount: data.val().postCount,
                };
                array.push(post);
        });
        createLine(array);
        createspline(array);
    });

    firebase.database().ref('statistic').once("value", function (snapshot){
        snapshot.forEach(function(data){
                temp=data.val().postCount;
                totalpost=totalpost+temp;
        });
        creategauge(totalpost);
        
    });

});

</script>