<script type="text/javascript" src="assets/js/profile.js"></script>
<div class="profile">
    <div class="user-box clearfix">
        <img id="user_img" src="" class="user-photo img-circle" height="100px" width="100px">
        <button id="follow" class="btn btn-primary" onclick="clickfan(event)" value=""></button>
        <div class="user-profile">
            <h2 id="user_name"></h2>
            <ul class="user-info clearfix">
                <li id="li_post">
                    <h3 id="user_posts"></h3>
                    <span>貼文</span>
                </li>
                <li id="li_fans">
                    <a id="fans" href="#">
                        <h3 id="user_fans"></h3>
                    </a>
                    <span>粉絲</span>
                </li>
                <li id="li_followers">
                    <a id="followers" href="#">
                        <h3 id="user_followers"></h3>
                    </a>
                    <span>追蹤</span>
                </li>
            </ul>
            <ul id="result" class="clearfix">
            </ul>
        </div>
    </div>
    <ul id="ninebox"></ul>
    <div id="postDetail"></div>
</div>
