<script type="text/javascript" src="assets/js/profile.js"></script>
<div class="profile">
  <div class="user-profile clearfix">
    <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p100x100/10390564_1176628622354539_1323508853798553694_n.jpg?oh=d2d57088965546ae24e0dcf56c23d7ee&oe=58F5EB71" class="user-photo img-circle">
    <div class="user-info">



      <button id="follow" class="btn btn-primary" onclick="clickfan(event)" value=""></button>
      <table>
        <tr>
          <td><h2 id="user_posts"></h2></td>
          <td><a id="fans" href="#"><h2 id="user_fans"></h2></a></td>
          <td><a id="followers" href="#"><h2 id="user_followers"></h2></a></td>
        </tr>
        <tr>
          <td>貼文</td>
          <td>粉絲</td>
          <td>追蹤</td>
        </tr>
      </table>
      <table id="result">
      </table>
    </div>
  </div>
  <ul id="ninebox"></ul>
</div>
