<script type="text/javascript" src="assets/js/profile.js"></script>
<div class="profile">
  <div class="user-box clearfix">
    <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p100x100/10390564_1176628622354539_1323508853798553694_n.jpg?oh=d2d57088965546ae24e0dcf56c23d7ee&oe=58F5EB71" class="user-photo img-circle">
    <button id="follow" class="btn btn-primary" onclick="clickfan(event)" value=""></button>
    <div class="user-profile">
      <h2>Beibei Huang</h2>
      <ul class="user-info">
        <li>
          <h3 id="user_posts"></h3>
          <span>貼文</span>
        </li>
        <li>
          <a id="fans" href="#">
            <h3 id="user_fans"></h3>
          </a>
          <span>粉絲</span>
        </li>
        <li>
          <a id="followers" href="#">
            <h3 id="user_followers"></h3>
          </a>
          <span>追蹤</span>
        </li>
      </ul>

  <!--    <div class="user-info">
        <table>
          <tr>
            <td><h3 id="user_posts"></h3></td>
            <td><a id="fans" href="#"><h3 id="user_fans"></h3></a></td>
            <td><a id="followers" href="#"><h3 id="user_followers"></h3></a></td>
          </tr>
          <tr>
            <td>貼文</td>
            <td>粉絲</td>
            <td>追蹤</td>
          </tr>
        </table>
        <table id="result">
        </table>
      </div>!-->
    </div>
  </div>
  <ul id="ninebox"></ul>
</div>
