<script type="text/javascript" src="assets/js/profile.js"></script>
<div class="profile">
  <div class="user-box clearfix">
    <img id="user_img" src="" class="user-photo img-circle">
    <button id="follow" class="btn btn-primary" onclick="clickfan(event)" value=""></button>
    <div class="user-profile">
      <h2 id="user_name"></h2>
      <ul class="user-info">
        <li>
          <h3 id="user_posts"></h3>
          <span>貼文</span>
        </li>
        <li>
          <a id="fans" href="#">
            <h3 id="user_fans"></h3>
          </a>
          <span>粉絲</span>
        </li>
        <li>
          <a id="followers" href="#">
            <h3 id="user_followers"></h3>
          </a>
          <span>追蹤</span>
        </li>
      </ul>
      <ul id="result">
      </ul>
    </div>
  </div>
  <ul id="ninebox"></ul>
</div>
