<script type="text/javascript" src="assets/js/profile.js"></script>
<div class="content">
  <div class="msg-form">
    <div class="user_info">
      <table>
        <tr>
          <td><h2 id="user_posts"></h2></td>
          <td><h2 id="user_fans"></h2></td>
          <td><h2 id="user_followers"></h2></td>
        </tr>
        <tr>
          <td>貼文</td>
          <td>粉絲</td>
          <td>追蹤</td>
        </tr>
      </table>
      <table id="result">
      </table
    </div>
  </div>
  <ul id="list" class="msg"></ul>
</div>
