<script type="text/javascript" src="assets/js/search.js"></script>
<div class="content">
    <div class="tag-box clearfix">
        <h3 id='searchText'><i class="fa fa-tag fa-fw fa-lg"></i></h3>
    </div>
    <ul id="list"></ul>
</div>